body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.navbar h1 {
    margin: 0;
    font-size: 1.5em; /* Adjusted for better responsiveness */
}

.navbar .inputFields {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.navbar .inputFields input {
    padding: 5px;
    margin-right: 10px;
    flex: 1; /* Adjusts to available space */
    min-width: 150px;
}

.navbar .selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar .selector button {
    margin-left: 10px;
}

#projects-container {
    padding: 20px; /* Adjusted to prevent overflow on smaller screens */
}

/* Button styles */
.button-9, .button-8 {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 80%;
    height: 44px;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-9 {
    width: 100%;
}

.button-8 {
    width: 50%;
}

.button-9:disabled, .button-8:disabled {
    cursor: default;
}

.button-9:focus, .button-8:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Text box styles */
.text-box {
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 30px;
    width: 50%;
}

.text-box:hover {
    border-color: #ccc;
}

.text-box:focus {
    border-color: #9147ff;
    background: #fff;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.project h2 {
    margin: 0;
    font-size: 1.5em;
}

.selector {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.inputFields {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media Queries */
@media (min-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .inputFields, .navbar .selector {
        width: auto;
        flex: 1;
    }
}

@media (min-width: 768px) {
    .text-box {
        width: 25%;
    }

    .button-8 {
        width: 30%;
    }
}

.title {
    padding-right: 5%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}



/* avg datas */
.city-container {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.city-container h3 {
    margin-top: 0;
}

.project-info p {
    margin: 5px 0;
}

.project-info p strong {
    margin-right: 5px;
    font-weight: bold;
}

.project-info hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #000;
}
